

<div class="editbar">
  <button type="button" name="button">Add</button>
  <button type="button" name="button">Edit</button>
  <button type="button" name="button">Delete</button>
  <a *ngIf="selectedEmployee"> {{selectedEmployee.name}} </a>
</div>

<div *ngIf="data && data.employees && data.roles && data.platoons">
  <table>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>Role</th>
      <th>Platoon</th>
      <th></th>
    </tr>
    <tr *ngFor="let employee of data.employees" (click)="rowSelected(employee)">
      <td>{{employee.name}}</td>
      <td>{{employee.startDate}}</td>
      <td>{{data.roles[employee.roleId].name}}</td>
      <td>{{data.platoons[employee.platoonId].name}}</td>
      <td><a (click)="openProjects(employee)">Projects</a></td>
    </tr>
  </table>
</div>
